<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
    <!-- Esta llave corresponde a al key de una licencia de un producto que se llama ServiceStack, para ver los temas de licenciamiento por favor verlos en la pagina https://servicestack.net/ -->
    <add key="servicestack:license" value="7255-e1JlZjo3MjU1LE5hbWU6SWRlYXMgRnJhY3RhbCBzLmEucyxUeXBlOkluZGllLE1ldGE6MCxIYXNoOkhSOXlWbGNsR1lZZThmOFlOMGpFR0FFNEt6QUE3R1J5SjhlbTBlR3NqWFFJN0VVcEltejFtQ1ZEOEZhR1hxckJjcmRXVUJ3TXdZZHRsNndBT0hWb1U2emFNNGJFbmlVRjROK1hPaXpCRjdCVWFEQTVqVUxhQXRmYUdsdGIwWUNoRVN2YVFIY1ZuaXk3cW5vNFdWZ3h0ZzY4YXp5cUttbm9yclVNT2QrYmhUYz0sRXhwaXJ5OjIwMjAtMDUtMDl9" />
    <add key="DatabaseType" value="PostgreSQL" />
    <!-- Parámetros de Licenciamiento KOR1 (IdeasFractal) -->
    <add key="LICENSE_KEY" value="KOR1.eyJjIjoiSURFQVMgRlJBQ1RBTCBQUlVFQkEiLCJuIjoiNzk4OTg0NTYiLCJlIjoiMjAyNy0xMi0zMSIsImkiOiIyMDI2LTA5LTA5In0.9006bff9957eeb6e1a95bfa63934e54c02c919d771919d87525c1b0cd49c7b02" />
    <add key="AGENCY_NIT" value="79898456" />
    <add key="AGENCY_NAME" value="IDEAS FRACTAL PRUEBA" />
    </appSettings>
    
    <connectionStrings>
    <!-- Conexion a la base de datos PostgreSQL Korex_colaereo -->
      <add name="FrontEndConnection" connectionString="Server=localhost;Port=5432;Database=Korex_colaereo;User Id=postgres;Password=zzeusagencias;" providerName="Npgsql" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <httpHandlers>
            <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="4.0" />
    </system.web>
    
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <validation validateIntegratedModeConfiguration="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <handlers>
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
        </handlers>
    </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>